html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

body {
    margin: 0;
}

main {
    display: block;
}

@font-face {
    font-family:HarmonyOS_Sans_SC_Medium;font-style: normal;font-display: swap;
    src: url('fonts/HarmonyOS_Sans_SC_Medium.woff2') format('woff2'),
         url('fonts/HarmonyOS_Sans_SC_Medium.woff') format('woff');
}
*{font-family:HarmonyOS_Sans_SC_Medium;}
  
.sidebar {
    position: fixed;
    background: rgb(180, 100, 100);
    left: 0;
    height: calc(100%);
    width: 300px;
    z-index: 2;
}

img {
    border-style: none;
}

leftsidebarhead {
    position: fixed;
    background: white;
    left: 0;
    height: calc(100% - 60px);
    width: 250px;
}

.head {
    display: flex;
    justify-content: center;
    height: 120px;
    margin: 50px 0 50px 0;
}

.head-circle {
    border-radius: 50%;
    height: 140px;
    display: table-cell;
    text-align: center;
}

.listitem {
    background: #aa5050;
    color: white;
    border-radius: 5px;
    margin: 10px;
    margin: 15px;
}

.listitem:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.listitem::after {
    height: 48px;
    visibility: hidden;
    content: ' ';
    box-shadow: 0 8px 25px -8px #ad5050;
    box-shadow: 0 8px 25px -8px #ad5050;
}

.mainboard {
    padding-left: 320px;
    padding-top: 75px;
}

a {
    color: #ad5050;
}

.about {
    text-align: right;
    font-size: .85em;
    position: absolute;
    bottom: 0;
    height: fit-content;
    width: 90%;
    padding: 5px;
    opacity: .5;
}

.appbar {
    background-image: linear-gradient( #ad5050,rgb(173, 80, 80, 0.01));
}

.list-item-active {
    font-weight: 700;
    background: #ad5050e0;
    box-shadow: 0 10px 25px -10px #823C3C;
}